<div class="small-12 large-10 columns nopadding typesContent" ng-controller="settingsCtrl">
    <div class="page-title noshadow" style="padding-left: 25px;">
        <p class="left">{{ t 'systems.title' }}</p>
        <div class="uk-float-right">
            <a href="#" class="no-ajaxy md-btn md-btn-success" style="margin-top: 15px;" ng-click="showCreateSystemWindow($event)">{{ t 'shared.create' }}</a>
        </div>
    </div>

    <div class="full-height page-content no-border-top" style="position: relative;">
        <div class="systemList full-height">
            <table id="systemsTable" class="pDataTable stripe">
                <thead>
                <tr>
                    <th></th>
                    <th>{{ t 'systems.name' }}</th>
                    <!--<th style="text-align: right; padding-right: 25px;">Ticket Count</th>-->
                </tr>
                </thead>
                <tbody>
                {{#each data.systems}}
                    <tr ng-click="editSystem($event)" data-systemid="{{_id}}">
                        <td>
                            <!--<input id="c_{{_id}}" type="checkbox" class="poloCheckbox"/>-->
                            <!--<label for="c_{{_id}}"></label>-->
                        </td>
                        <td>{{name}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    {{> createSystemWindow}}
</div>

{{#contentFor 'js-plugins'}}

{{/contentFor}}