<div class="uk-modal" id="deleteTicketTypeModal" ng-controller="settingsCtrl">
    <div class="uk-modal-dialog">
        <form class="uk-form-stacked" id="deleteTicketTypeForm" action="#" method="POST">
            <input type="hidden" id="del_type_name" name="del_type_name" value="{{data.tickettype.name}}">
            <div class="uk-margin-medium-bottom uk-clearfix">
                <span>{{ t 'tickets.message-change-type' }}</span>
            </div>
            <div class="uk-margin-medium-bottom uk-clearfix">
                <div class="uk-float-left" style="width: 100%;">
                    <label for="type" class="uk-form-label">{{ t 'tickets.type' }}</label>
                    <select class="selectize-white" name="type" id="type" data-md-selectize-inline>
                        {{#each data.common.ticketTypes}}
                            {{#isnot name ../data.tickettype.name}}
                                <option value="{{{_id}}}">{{name}}</option>
                            {{/isnot}}
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="uk-margin-medium-bottom uk-clearfix">
                <span class="uk-text-danger">{{ t 'tickets.warning-change-type'}}: <strong>{{data.tickettype.name}}</strong> to the selected ticket type above. <br /><strong>This is permanent!</strong></span>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button type="button" class="md-btn md-btn-flat uk-modal-close">{{ t 'shared.cancel' }}</button>
                <button type="button" class="md-btn md-btn-flat md-btn-flat-danger" id="submitDeleteTicketType" ng-click="submitDeleteTicketType('{{data.tickettype._id}}', $event)">{{ t 'shared.delete'}}</button>
            </div>
        </form>
    </div>
</div>