<div ng-init="
    user='{{data.common.loggedInAccount._id}}';">

    <div ng-controller="articlesCtrl">
        <div class="page-right-content">
            <div class="uk-float-left page-title page-title-small noshadow nopadding relative" style="width: 360px; max-width: 360px; min-width: 360px;">
                <div class="page-title-border-right relative" style="padding: 0 30px">
                    <p>{{ t 'articles.title-create-new' }}</p>
                    <div id="__ticketId" class="hide"></div>
                    <div id="__ticketStatus" class="hide"></div>
                </div>
                <div class="page-content-left full-height scrollable">
                    <div class="ticket-details-wrap uk-clearfix">
                        <div class="ticket-assignee-wrap uk-clearfix" style="padding-right: 30px;">
                            <h4>{{ t 'article.author' }}</h4>
                            <div class="ticket-assignee uk-clearfix">
                                <a role="button" style="float: left;" class="relative no-ajaxy">
                                     {{#isNull data.user.image}}
                                    <img src="/uploads/users/defaultProfile.jpg" alt="" /> {{else}}
                                    <img src="/uploads/users/{{data.user.image}}" alt="" /> {{/isNull}}
                                    <span class="user-offline uk-border-circle" data-user-status-id="{{data.user._id}}"></span>
                                    <span class="drop-icon material-icons" style="">keyboard_arrow_down</span>
                                </a>
                                <div class="ticket-assignee-details">
                                    <h3>{{data.user.fullname}}</h3>
                                    <a class="comment-email-link uk-text-truncate" href="mailto:{{{data.user.email}}}">{{{data.user.email}}}</a>
                                    <span>{{{data.user.title}}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-1-1 padding-left-right-15">
                            <div class="tru-card ticket-details uk-clearfix" style="background: #fff;">
                                <div class="uk-width-1-1 nopadding uk-clearfix">
                                    <span>{{ t 'articles.category' }}</span>
                                    <select name="aCategory" id="aCategory" ng-model="selected_category" ng-options="c.name for c in categories track by c._id">
                                    </select>
                                </div>
                                <div class="uk-width-1-1 nopadding">
                                    <span>{{ t 'settings.tags-group' }}
                                        <div id="editTags" style="display: inline;">-
                                            <a href="#" style="font-size: 11px;" class="no-ajaxy" ng-click="showTags($event)" data-uk-modal="{bgclose:false}">{{ t 'shared.edit-tag' }}</a>
                                        </div>                                   
                                    </span>
                                    <div class="tag-list uk-clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-message nopadding" style="margin-left: 360px;">
                <div class="page-title-right noshadow">
                    <div>
                        <label for="aSubject">{{ t 'articles.subject' }}</label>
                        <input type="text" class="md-input" id="caSubject" name="aSubject" data-validation="length" data-validation-length="min5"
                            data-validation-error-msg="Please enter a valid name. Name must be at be 5 characters." />
                    </div>
                    {{!-- <div class="onoffswitch subscribeSwitch uk-float-right" style="margin-right: 10px; position: relative; top: 18px;">
                        <input type="checkbox" name="subscribeSwitch" class="onoffswitch-checkbox" id="subscribeSwitch" ng-model="subscribed" ng-change="SubscriberChange()"
                            data-subscribe-userId="{{data.common.loggedInAccount._id}}">
                        <label class="onoffswitch-label" for="subscribeSwitch">
                            <span class="onoffswitch-inner subscribeSwitch-inner"></span>
                            <span class="onoffswitch-switch subscribeSwitch-switch"></span>
                        </label>
                    </div> --}}
                </div>

                <div class="page-content-right full-height scrollable">
                   
                </div>
            </div>
        </div>

        <div id="addTagModal" class="uk-modal" aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <div class="uk-modal-dialog uk-clearfix">
                <a class="uk-modal-close uk-close no-ajaxy"></a>
                <h5 style="font-weight: 300;">{{ t 'shared.add-tags' }}</h5>
                <div>
                    <form id="addTagForm" action="#" method="POST" class="nomargin" ng-submit="submitAddTags($event)">
                        <!--<label for="tags">Tag:</label>-->
                        <div class="search-container">
                            <!--<input type="text" name="tags" id="tags" />-->
                            <select name="tags" id="tags" class="chosen-select" multiple data-placeholder=" " data-noresults="No Tags Found for ">
                            </select>
                            <button type="button" ng-click="showCreateTags($event)" style="border-radius: 0; -moz-border-radius: 0;">
                                <i class="fa fa-plus" style="margin-right: 0;"></i>
                            </button>
                        </div>

                        <div class="left" style="margin-top: 15px;">
                            <button class="uk-button red nomargin" type="button" ng-click="clearTags($event)">{{ t 'shared.clear' }}</button>
                        </div>
                        <div class="right" style="margin-top: 15px;">
                            <button class="uk-button uk-button-secondary cancel nomargin uk-modal-close" type="button">{{ t 'shared.cancel' }}</button>
                            <button class="uk-button uk-button-success nomargin" type="submit">{{ t 'shared.save-tags' }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="createTagModal" class="uk-modal" aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <div class="uk-modal-dialog uk-clearfix">
                <a class="uk-modal-close uk-close no-ajaxy"></a>
                <h5 style="font-weight: 300;">{{ t 'shared.create-tag' }}</h5>
                <div>
                    <form id="createTagForm" action="#" method="POST" class="nomargin" ng-submit="submitAddNewTag($event)">
                        <input type="text" id="tag" name="tag" class="md-input" />

                        <div class="right" style="margin-top: 15px;">
                            <button class="uk-button uk-button-success nomargin" type="submit">{{ t 'shared.create-tag' }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

{{#contentFor 'js-plugins'}} {{/contentFor}}